//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text
//

@global-color:                                  #444;
@global-muted-color:                            #999;
@global-text-shadow:                            #fff;

@global-link-color: #514796;
@global-link-hover-color: #fc0580;

@global-contrast-color:                         #fff;
@global-contrast-text-shadow:                   rgba(0,0,0,0.2);

@global-font-size:                              14px;
@global-line-height:                            20px;

//
// Backgrounds & Borders
//

@global-background:                             #fff;
@global-border:                                 #ddd;

@global-border-radius:                          4px;

@global-default-gradient-top:                   #fff;
@global-default-gradient-bottom:                #eee;
@global-default-background:                     mix(@global-default-gradient-top, @global-default-gradient-bottom, 50%);
@global-default-hover-background:               #fafafa;
@global-default-active-background:              #f5f5f5;

@global-primary-gradient-top:                   #00b4f5;
@global-primary-gradient-bottom:                #008dc5;
@global-primary-background:                     mix(@global-primary-gradient-top, @global-primary-gradient-bottom, 40%);

@global-success-gradient-top:                   #9fd256;
@global-success-gradient-bottom:                #6fac34;
@global-success-background:                     mix(@global-success-gradient-top, @global-success-gradient-bottom, 40%);

@global-warning-gradient-top:                   #fbb450;
@global-warning-gradient-bottom:                #f89406;
@global-warning-background:                     mix(@global-warning-gradient-top, @global-warning-gradient-bottom, 40%);

@global-danger-gradient-top:                    #ee465a;
@global-danger-gradient-bottom:                 #c11a39;
@global-danger-background:                      mix(@global-danger-gradient-top, @global-danger-gradient-bottom, 40%);

//
// Spacings
//

@global-margin:                                 15px;
@global-large-margin:                           25px;
@global-grid-gutter:                            25px;
@global-grid-large-gutter:                      35px;

//
// Controls
//

@global-height:                                 30px;
@global-mini-height:                            20px;
@global-small-height:                           25px;
@global-large-height:                           40px;

//
// Z-index
//

@global-z-index:                                1000;






















@ri_violet: #514796;
@ri_pink  : #fc0580;
@ri_white : #ffffff;



//
// Typography
//

// @import url(http://fonts.googleapis.com/css?family=Gochi+Hand);
@import url(http://fonts.googleapis.com/css?family=Satisfy);
// @import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);
// @import url(http://fonts.googleapis.com/css?family=Cookie);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,800);


@base-body-font-family   : "Open Sans";
// @base-heading-font-family: "Gochi Hand";
@base-heading-font-family: "Satisfy";
@global-contrast-color   : #fff;
@global-font-size        : 12px;
@global-line-height      : 20px;



@base-hr-border:#9e9faf;

h1, h2, h3, h4, h5, h6{
  color:#9c9eca;
}



//
// Backgrounds & Borders
//

@global-background        :                             #fff;
@global-border            :                                 #ddd;
@global-primary-background:                     #00a8e6;
@global-success-background:                     #8cc14c;
@global-warning-background:                     #faa732;
@global-danger-background :#fc0580;

//
// Spacings
//

@global-margin:                                 15px;
@global-large-margin:                           25px;
@global-grid-gutter:                            25px;
@global-grid-large-gutter:                      35px;

//
// Controls
//

@global-height:                                 30px;
@global-mini-height:                            20px;
@global-small-height:                           25px;
@global-large-height:                           40px;

//
// Z-index
//

@global-z-index:                                1000;

/* theme: Almost Flat */



/*
 * Buttons, Navs & Badges
 */

@theme_global-default-background       : #f8f9ff;
@theme_global-default-hover-background : #514796;
@theme_global-default-active-background: #514796;
@global-primary-background             : #514796;
@global-success-background             : #ff9600;
@global-warning-background: #f6f6f6;
@global-danger-background              : #fc0580;





/*
 * Article
 */

@article-title-font-weight: bold;

/*
 * Badge
 */

@badge-font-weight: normal;

/*
 * Base
 */

@base-ins-background: #f8f9ff;
@base-em-color: #514796;
@base-mark-background: #514796;
@base-selection-background: #e91d83;
@base-code-color: #514796;

/*


/*
 * Form
 */

@form-danger-color: #e91d83;
@form-danger-border: #e91d83;
@form-danger-background: #fcf5f9;
@form-success-color: #63bd1a;
@form-success-border: #63bd1a;
@form-disabled-background: #f7f7f7;
@form-focus-background: #f8f9ff;
@form-focus-border: #a3a3cf;

/*
 * Icon
 */

@theme_icon-button-border: #ffffff;
@theme_icon-button-hover-border: #ffffff;

/*
 * Overlay
 */

@overlay-area-background: rgba(81, 71, 150, 0.65);
@overlay-caption-background: rgba(163, 163, 207, 0.9);



/*
 * Tab
 */

@tab-hover-background: #f8f9ff;
@tab-hover-border: #eaebf4;

/*
 * Table
 */

@table-striped-background: #eaebf4;

/*
 * Text
 */

@text-info-color: #514796;
@text-warning-color: #e91d83;
@text-success-color: #ff9600;
@text-danger-color: #ffffff;

/*
 * Tooltip
 */

@tooltip-color: #cacbd5;
@theme_tooltip-text-shadow: rgba(0, 0, 0, 0);